.bigdiv{
    background-color: antiquewhite;
}
.natu{
    height: 300px;
    width: 430px;
}
.nat{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.nata{
    font-size: 20px;
    background-color: salmon;
}
.michka{
    height: 300px;
    width: 260px;
}
.michka1{
    background-color: yellowgreen;
}
